.todo__main {
  height: 100%;
  margin: 1rem;
  background-color: #eef2f5;
  width: 370px;
  border-radius: 1rem;
  overflow-y: auto;
}

.todo__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.icons {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}
