.register__container {
  display: flex;
  height: 100vh;
}
html,body {
  padding: 0;
  margin: 0;
}

.register__left {
  flex: 1;
  background-color: #17a2b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.register__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
}

.register__container input,
button {
  padding: 10px;
  border-radius: 10px;
}

.register__container input {
  border: 1px solid gray;
}

.register__container button {
  border: none;
  border-radius: 1rem;
  background-color: #17a2b8;
  color: white;
  cursor: pointer;
}

.register__container button span {
  font-size: 1rem;
}

.error {
  color: red;
}

.register__container p {
  text-align: center;
}

.register__form button:nth-of-type(2) {
  background-color: white;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}
