.reset__main {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
}
.reset__main input,
button {
  padding: 10px;
}
.reset__main input {
  border-radius: 10px;
  border: 1px solid gray;
}
.reset__main button {
  border-radius: 1rem;
  border: none;
}
.reset__main button span {
  font-size: 1rem;
}
.top {
  display: flex;
  gap: 2.5rem;
}
